<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopoline.xingyuanji.mapper.AdminInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shopoline.xingyuanji.entity.AdminInfo">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="userName" property="userName" />
        <result column="passWord" property="passWord" />
        <result column="editBy" property="editBy" />
        <result column="editTime" property="editTime" />
        <result column="deleteFlag" property="deleteFlag" />
        <result column="position" property="position" />
    </resultMap>

    <!--查询用户购物信息-->
    <select id="getUserShopLogInfo" resultType="com.shopoline.xingyuanji.model.UserShopLogInfoModel">
       SELECT c.nickName,a.openId,c.userId,a.addressId,a.id AS shopLogId,a.deleteFlag,a.isDeliver,a.ZIPNum,b.goodsname,a.express,d.name,d.phone,
       a.outTradeNo,a.ZIPOutTradeNo,a.isPay,a.totalFee,a.ZIPAmount,a.updateTime,a.boxId,d.province,d.city,d.area,d.address,a.editTime
       FROM t_shop_log a
	   LEFT JOIN t_product_info b ON b.id = a.goodsId
	   LEFT JOIN t_user_info c ON c.openId = a.openId
	   LEFT JOIN t_user_address d ON d.id = a.addressId
	   WHERE a.openId = #{openId}
       ORDER BY a.editTime DESC
       LIMIT #{pageStart},#{pageSize};
    </select>

    <!--获取全部用户购买记录-->
    <select id="getAllShopLog" resultType="com.shopoline.xingyuanji.model.UserShopLogInfoModel">
        SELECT openId,addressId,id AS shopLogId,deleteFlag,isDeliver,ZIPNum,express,outTradeNo,
                ZIPOutTradeNo,isPay,totalFee,ZIPAmount,updateTime,boxId,editTime,goodsId
        FROM
        t_shop_log
        ORDER BY editTime DESC
        LIMIT #{pageStart},#{pageSize};
    </select>
    <select id="getAllShopLogByOpenId" resultType="com.shopoline.xingyuanji.model.UserShopLogInfoModel">
        SELECT openId,addressId,id AS shopLogId,deleteFlag,isDeliver,ZIPNum,express,outTradeNo,
                ZIPOutTradeNo,isPay,totalFee,ZIPAmount,updateTime,boxId,editTime,goodsId
        FROM
        t_shop_log
        WHERE
        openId = #{openId}
        ORDER BY editTime DESC
        LIMIT #{pageStart},#{pageSize};
    </select>
    <select id="getDaysShopLogByOpenId" resultType="com.shopoline.xingyuanji.model.UserShopLogInfoModel">
        SELECT openId,addressId,id AS shopLogId,deleteFlag,isDeliver,ZIPNum,express,outTradeNo,
                ZIPOutTradeNo,isPay,totalFee,ZIPAmount,updateTime,boxId,editTime,goodsId
        FROM
        t_shop_log
        WHERE
        TO_DAYS(NOW()) - TO_DAYS(editTime) &lt;= #{dayNum}
        ORDER BY editTime DESC
        LIMIT #{pageStart},#{pageSize};
    </select>
    <select id="getDaysCount" resultType="java.lang.String">
        SELECT COUNT(id)
        FROM
        t_shop_log
        WHERE
        TO_DAYS(NOW()) - TO_DAYS(editTime) &lt;= #{dayNum};
    </select>

    <select id="getShopInfoList" resultType="com.shopoline.xingyuanji.entity.ProductInfo">
        SELECT * FROM t_product_info ORDER BY editTime DESC LIMIT #{pageStart},#{pageSize};
    </select>

    <select id="getSellCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_shop_log;
    </select>
    <select id="selectLastId" resultType="java.lang.Integer">
        SELECT id FROM t_product_info ORDER BY id DESC LIMIT 1;
    </select>
    <select id="getDaysSellCount" resultType="com.shopoline.xingyuanji.model.DaysSellCountModel">
       SELECT DATE_FORMAT( editTime, '%Y-%m-%d' ) AS days,count( * ) count FROM t_shop_log GROUP BY days;

    </select>
    <select id="sellAmountHistory" resultType="java.lang.Integer">
        SELECT SUM(totalFee) FROM t_shop_log;
    </select>
    <select id="everyDaySellAmount" resultType="com.shopoline.xingyuanji.model.EveryDaySellAmountModel">
        SELECT DATE_FORMAT( editTime, '%Y-%m-%d' ) AS days,SUM( totalFee ) amount ,SUM(ZIPAmount) ZIPAmount FROM
	      t_shop_log GROUP BY days;
    </select>
    <select id="ZIPAmountHistory" resultType="java.lang.Integer">
        SELECT SUM(ZIPAmount) FROM t_shop_log;
    </select>


</mapper>
