<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopoline.xingyuanji.mapper.PayOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shopoline.xingyuanji.entity.PayOrder">
        <id column="id" property="id" />
        <result column="pay_trade_no" property="payTradeNo" />
        <result column="machine_id" property="machineId" />
        <result column="total_fee" property="totalFee" />
        <result column="pay_type" property="payType" />
        <result column="pay_status" property="payStatus" />
        <result column="buy_num" property="buyNum" />
        <result column="out_num" property="outNum" />
        <result column="detail" property="detail" />
        <result column="insert_time" property="insertTime" />
        <result column="insert_id" property="insertId" />
        <result column="update_time" property="updateTime" />
        <result column="update_id" property="updateId" />
    </resultMap>

</mapper>
