<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopoline.xingyuanji.mapper.StoreAreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shopoline.xingyuanji.entity.StoreArea">
        <result column="code" property="code" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="area" property="area" />
        <result column="town" property="town" />
    </resultMap>

    <select id="getStoreArea" resultType="com.shopoline.xingyuanji.entity.StoreArea">
        SELECT * FROM store_area WHERE city = #{city} LIMIT 1;
    </select>

</mapper>
