<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopoline.xingyuanji.mapper.UserAssetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shopoline.xingyuanji.entity.UserAsset">
        <id column="id" property="id" />
        <result column="userId" property="userId" />
        <result column="amount" property="amount" />
        <result column="amountType" property="amountType" />
        <result column="editTime" property="editTime" />
        <result column="editBy" property="editBy" />
        <result column="deltFlag" property="deltFlag" />
        <result column="openId" property="openId" />
    </resultMap>


    <select id="sumAmountById" resultType="com.shopoline.xingyuanji.entity.UserAsset">
        SELECT SUM(amount) AS amount,amountType FROM t_user_asset WHERE openId = #{openId} AND amountType = '0' AND deltFlag = '1';
    </select>
    <select id="selectUserXingBi" resultType="com.shopoline.xingyuanji.entity.UserAsset">
        SELECT SUM(amount) AS amount FROM  t_user_asset WHERE amountType = '0' AND openId = #{openId} AND deltFlag != '0';
    </select>

    <!--获取用户资产信息列表-->
    <select id="getUserAssetInfoList" resultType="com.shopoline.xingyuanji.model.UserAssetInfoModel">
        SELECT a.id AS amountId,a.openId,a.amount,a.amountType,a.editTime,a.deltFlag AS deletFlag,b.nickName,b.userId FROM t_user_asset a LEFT JOIN
            t_user_info b ON b.openId = a.openId WHERE a.userId = #{userId} ORDER BY a.editTime DESC LIMIT #{pageStart},#{pageSize};
    </select>

    <!--获取用户资产总数-->
    <select id="getUserAssetCount" resultType="java.lang.Integer">
        SELECT SUM(AMOUNT) FROM t_user_asset WHERE userId = #{userId} AND deltFlag = '1' AND amountType = '0';
    </select>

</mapper>
