<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopoline.xingyuanji.mapper.UserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shopoline.xingyuanji.entity.UserInfo">
        <id column="userId" property="userId" />
        <result column="nickName" property="nickName" />
        <result column="openId" property="openId" />
        <result column="sex" property="sex" />
        <result column="headImgUrl" property="headImgUrl" />
        <result column="editTime" property="editTime" />
        <result column="updateTime" property="updateTime" />
        <result column="editBy" property="editBy" />
        <result column="deleteFlag" property="deleteFlag" />
    </resultMap>
    <!--条件查询用户信息-->
    <select id="selectUserInfoByCondition" resultType="com.shopoline.xingyuanji.entity.UserInfo">
        SELECT userId,nickName,openId,sex,headImgUrl,editTime,updateTime,editBy,deleteFlag FROM t_user_info
        ORDER BY editTime DESC
        LIMIT #{pageStart},#{pageSize}
    </select>
    <!--按条件搜索-->
    <select id="selectUserInfoByInformation" resultType="com.shopoline.xingyuanji.entity.UserInfo">
        SELECT userId,nickName,openId,sex,headImgUrl,editTime,updateTime,editBy,deleteFlag FROM t_user_info
        <if test="nickName != null and nickName != ''">
            WHERE  nickName LIKE #{nickName}
        </if>
        <if test="nickName == null and nickName != '' and openId != null and openId != ''">
            WHERE openId = #{openId}
        </if>
        <if test="openId != null and openId != ''">
            AND openId = #{openId}
        </if>
        ORDER BY editTime DESC;
    </select>

</mapper>
