<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopoline.xingyuanji.mapper.UserAddressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shopoline.xingyuanji.entity.UserAddress">
        <id column="id" property="id" />
        <result column="userId" property="userId" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="address" property="address" />
        <result column="def" property="def" />
        <result column="editTime" property="editTime" />
        <result column="editBy" property="editBy" />
        <result column="deleteFlag" property="deleteFlag" />
        <result column="area" property="area" />
    </resultMap>

    <!--获取用户地址-->
    <select id="getUserAddressInfoList" resultType="com.shopoline.xingyuanji.model.UserAddressInfoModel">
        SELECT b.openId,b.nickName,a.name,a.phone,a.province,a.city,a.area,a.address,a.def,a.editTime,a.editBy,a.deleteFlag FROMt_user_address a
	    LEFT JOIN t_user_info b ON b.userId = a.userId WHERE a.userId = #{userId};
    </select>


</mapper>
